<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renyu.nimavchatlibrary" >
    <application>
        <activity
            android:name=".ui.TelActivity"
            android:theme="@style/FullScreenTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.OutGoingAVChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.InComingAVChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 申明本地电话状态（通话状态）的广播接收器，第三方APP集成时音视频模块时，如果需要在App中处理网络通话与本地电话的交互请加上此接收器 -->
        <!-- 在Demo的示例代码中是在Application进行了网络通话与本地电话的互斥处理 -->
        <receiver android:name=".receiver.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
